[Unit]
Description=Outline ShadowSocks Server
After=network.target

[Service]
Type=simple
ExecStart={{ outline_ss_server_install_dir.rstrip('/') }}/outline-ss-server \
    {% if outline_ss_server_metrics_address != "" %}
    -metrics={{ outline_ss_server_metrics_address }} \
    {% endif %}
    -config={{ outline_ss_server_install_dir.rstrip('/') }}/shadowsocks.yml
ExecReload=/bin/kill -SIGHUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
